apscheduler
bcrypt>=4.0.0
celery
fastapi
flower
joblib
scikit-learn
numpy
openai
passlib==1.7.4
Pillow
pillow-heif
prometheus-fastapi-instrumentator
pydantic-settings
pydantic[email]
python-docx
python-dotenv
python-jose[cryptography]==3.3.0
python-multipart
pytesseract
redis
reportlab
sqlalchemy
torch
transformers
uvicorn